@import url('./global.css');

header{
    display: flex;
    justify-content: space-evenly;
    padding: 49px 0;
}

.nav-header{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header ul a{
    text-decoration: none;
    color: #000001;
}

.login-header{
  display: flex;
  gap: 24px;
  
}

.food-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-content{
    width: 523px;
}

.food-primary{
     color: var(--color-primary);
}

.whychoose-conteiner{  
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.whychoose-conteiner h2{
    font-size: 48px
}

.choose-section{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-content{
    display: flex;
    justify-content: center; 
    text-align: center;
    gap: 100px;
}
 
.choose-content p{
    width: 242px;
    margin-top: 10px;
}

.number-clients{
  display: flex;
  margin-top: 60px;
  height: 87px;
  gap: 190px;
  padding: 30px;
}

.number-clients h3{
    margin-top: 8px;
    width: 132px;
    height: 21px;
}

.number-clients h4{
    margin-top: 8px;
    width: 117px;
    height: 21px;
}

.number-clients h5{
    margin-top: 8px;
    width: 114px;
    height: 21px;
}

.salad-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-conteiner{
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 48px;
}

.salad-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.salad-content h2{
    font-size: 28px;
}

.salad-content p{
   font-size: 18px;
}

.whatclients-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
}