@import url('./global.css');

header{
    display: flex;
    justify-content: space-evenly;
    padding: 49px 0;
}

.nav-header{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header ul a{
    text-decoration: none;
    color: #000001;
}

.login-header{
  display: flex;
  gap: 24px;
  
}

.food-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-content{
    width: 523px;
}

.food-primary{
     color: var(--color-primary);
}

.whychoose-conteiner{   
    text-align: center;
}


.choose-content{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;

    
}

.choose-content{
    text-align: center;
}





.number-clients{
  display: flex;
  justify-content: center;
  gap: 225px;
  margin-top: 60px;
}

.number-clients h4{
    padding: 10px;
}


.salad-content{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.Special-conteiner{
    display: flex;
    justify-content: center;
}